{{- if .Values.rbac.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "conveyor-etl-operator.fullname" . }}
  labels:
    {{- include "conveyor-etl-operator.labels" . | nindent 4 }}
rules:
  - apiGroups: ["conveyor.etl"]
    resources:
      - sources
      - transforms
      - sinks
      - pipelines
      - etlrouterclusters
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
  - apiGroups: ["conveyor.etl"]
    resources:
      - sources/status
      - transforms/status
      - sinks/status
      - pipelines/status
      - etlrouterclusters/status
    verbs: ["get", "update", "patch"]
  - apiGroups: [""]
    resources:
      - pods
      - services
      - configmaps
      - persistentvolumeclaims
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
  - apiGroups: [""]
    resources:
      - events
    verbs: ["create", "patch"]
  - apiGroups: ["apps"]
    resources:
      - statefulsets
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
  - apiGroups: ["coordination.k8s.io"]
    resources:
      - leases
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "conveyor-etl-operator.fullname" . }}
  labels:
    {{- include "conveyor-etl-operator.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "conveyor-etl-operator.fullname" . }}
subjects:
  - kind: ServiceAccount
    name: {{ include "conveyor-etl-operator.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
{{- end }}
